.footer {
	height: 100%;
	background: rgb(222, 222, 222);
	padding: 10px 0;
	p {
		@include anim(0.3s, 0s);
		cursor: pointer;
		text-align: center;
		color: rgb(154, 153, 153);
		&:hover {
			color: rgb(32, 31, 31);
		}
	}
}
//====================================================================================================

//====================================================================================================
